<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LibraryShop.Properties.Settings.ShopDatabaseConnectionString"
            connectionString="Data Source=wszystko_ok\SQLEXPRESS;Initial Catalog=ShopDatabase;Integrated Security=True" />
    </connectionStrings>
</configuration>